# mavtek
export PATH="$HOME/.mavtek/bin:$PATH"

function mars() {
    instance=`aws ec2 describe-tags --filters Name=value,Values=Mars-mv-auto --region=us-east-1 --output text | awk -F "\t" '$1=="TAGS" {print $3}'`
    aws ssm start-session --target=${instance} --region=us-east-1
}

function eclipse() {
    instance=`aws ec2 describe-tags --filters Name=value,Values=Eclipse-mv-auto --region=us-east-1 --output text | awk -F "\t" '$1=="TAGS" {print $3}'`
    aws ssm start-session --target=${instance} --region=us-east-1
}

function mars-bastion() {
    aws-gate ssh -r us-east-1 -l ssm-user -L 3306:marsdb-mvdbclusterfromsnap-4z0oikvxegct.cluster-c6nbxruqieec.us-east-1.rds.amazonaws.com:3306 Mars-mv-auto
}

# nvm
export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion

function wificonnect() {
  if [ $# -eq 2 ]; then
    nmcli device wifi connect "$1" password "$2"
  else
    echo "Usage: wificonnect <SSID> <password>"
  fi
}

# Python virtual env
alias source-bastion-venv='source ~/aws-gate-env/bin/activate'
alias source-pdf2image='source ~/Documents/projects/pdf2jpeg/pdf2image/bin/activate'

# which OSTYPE
if [[ "$OSTYPE" == "darwin"* ]]; then
    export OS_TYPE="macOS"
elif [[ "$OSTYPE" == "linux-gnu"* ]]; then
    export OS_TYPE="Linux"
else
    export OS_TYPE="Other"
fi

